In [1]:
a = ["SI JAVA JAVASCRIPT SQL PYTHON C#", "CONTENTS JAVASCRIPT JAVA PYTHON SQL C++", "HARDWARE C C++ PYTHON JAVA JAVASCRIPT", "PORTAL JAVA JAVASCRIPT PYTHON KOTLIN PHP", "GAME C++ C# JAVASCRIPT C JAVA"]

In [24]:
import pandas as pd
table = pd.DataFrame()
for i in range(len(a)):
    table[a[i].split()[0]] = a[i].split()[1:]

In [25]:
table

           SI    CONTENTS    HARDWARE      PORTAL        GAME
0        JAVA  JAVASCRIPT           C        JAVA         C++
1  JAVASCRIPT        JAVA         C++  JAVASCRIPT          C#
2         SQL      PYTHON      PYTHON      PYTHON  JAVASCRIPT
3      PYTHON         SQL        JAVA      KOTLIN           C
4          C#         C++  JAVASCRIPT         PHP        JAVA

In [26]:
col = table.columns

In [42]:
b = ["PYTHON", "C++", "SQL"]
c = [7, 5, 5]
d = []

In [43]:
for n in range(len(a)):
    e = []
    for x in b:
        if x in list(table[col[n]]):
            e.append(list(table[col[n]]).index(x))
        else:
            e.append(0)
    for y,n in zip(c,len(e)):

In [46]:
d

[3, 0, 2, 2, 4, 3, 2, 1, 0, 2, 0, 0, 0, 0, 0]