In [1]:
from urllib.parse import quote_plus
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import time

In [28]:
df = pd.read_excel("./연구소_v02.xlsx")
df

                 d           Col3                     Col4
0     220-82-02097  삼성물산건설부문새마을금고      경기 성남시 분당구 판교역로 145
1     603-81-79697           자유전자      부산 사하구 하신중앙로3번길 112
2     604-01-40913           자유전자                     자유전자
3     607-57-70956           자유전자                     자유전자
4     609-81-94963         군장종합건설           전북 군산시 번영로 104
...            ...            ...                      ...
1064  259-81-01110      하이드로테크(유)                하이드로테크(유)
1065  113-81-85605             랩텍  경기 광명시 하안로 60, B동 B102호
1066  132-01-98259             랩텍                       랩텍
1067  137-17-68315             랩텍                       랩텍
1068  120-81-73766      에스엔씨인터내셔날         서울 강남구 개포로28길 20

[1069 rows x 3 columns]

In [30]:
df = df.rename(columns = {'d':'col1'})

In [31]:
driver = webdriver.Chrome(executable_path= r'C:/Chromedrive/chromedriver')
driver.get("https://www.rnd.or.kr/user/infoservice/search5.do")
driver.implicitly_wait(20)

aa = []
for i in range(len(df['col1'])):
    try:
        a1 = df['col1'][i][:3]
        a2 = df['col1'][i][4:6]
        a3 = df['col1'][i][7:12]
    except:
        aa.append("")
        continue
    
    elem1 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div[2]/form/div/div[1]/table/tbody/tr[2]/td/input[1]")
    elem2 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div[2]/form/div/div[1]/table/tbody/tr[2]/td/input[2]")
    elem3 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div[2]/form/div/div[1]/table/tbody/tr[2]/td/input[3]")
    
    elem1.send_keys(a1)
    elem2.send_keys(a2)
    elem3.send_keys(a3)
    driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div[2]/form/div/div[2]/button[2]").click()
    
    try:
        name = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div[2]/form/div/div[3]/div/div[2]/table/tbody/tr/td[2]/span/a").text
        aa.append(name)
    except:
        aa.append("")
    
    elem1 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div[2]/form/div/div[1]/table/tbody/tr[2]/td/input[1]")
    elem2 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div[2]/form/div/div[1]/table/tbody/tr[2]/td/input[2]")
    elem3 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div[2]/form/div/div[1]/table/tbody/tr[2]/td/input[3]")
    
    elem1.clear()
    elem2.clear()
    elem3.clear()
    time.sleep(1)

In [32]:
kk = pd.DataFrame()
kk['이름'] = aa
kk.to_excel('./연구소검증_210708.xlsx')